{% extends "base.html" %}
{% set url = "another_page" %}
{% block title %}
	simplestyle_3
{% endblock %}
{% block content %}
    <div>
        <h1>Создание курса для категории "{{name}}"</h1>
        <form method="post">
            <div class="form_settings">
<!--                <input type="text" name="name" placeholder="Название">-->
<!--                <button type="submit">Сохранить и вернуться к списку курсов</button>-->
                <p><span>Название курса:</span><input class="contact" type="text" name="name" placeholder="Введите название"></p>
                <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="save_and_return" value="Сохранить" /></p>
            </div>
        </form>
    </div>
    <div>
<!--        <a href="/create-course/?id={{id}}">Создать новый курс</a>-->
        <br>
        <h2>Список курсов для категории "{{name}}"</h2>
        <ol>
            {% for item in objects_list %}
            <li>
                {{item.name}} <span><a href="/copy-course/?name={{item.name}}">скопировать</a></span>
            </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}