{% extends "base.html" %}
{% set url = "page" %}
{% block title %}
	simplestyle_3 - another page
{% endblock %}
{% block content %}
    <h1>Создание категории</h1>
    <form method="post">
        <div class="form_settings">
            <p><span>Название категории:</span><input class="contact" type="text" name="name" placeholder="Введите название"></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="save_and_return" value="Сохранить" /></p>
        </div>
    </form>
    <h2>Список категорий</h2>
    <ol>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span>Количество курсов: {{item.course_count()}}</span>
        </li>
        {% endfor %}
    </ol>
	<ul>
		<li><a href="/courses-list/">Список курсов</a></li>
		<li><a href="/create-course/">Создать курс</a></li>
	</ul>
{% endblock %}